{% load static %}

<!DOCTYPE html>
<html lang="zh">
  <head>
      <meta charset="UTF-8">
      <title>About Us</title>
      <!-- 引入Bootstrap -->
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <script src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <style>
        .navbar {
          background-color: #8cc6dd;
        }
        footer{
          background-color: #8cc6dd;
          padding: 20px 0;
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
        }
      </style>
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">中大食评-关于我们</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="infoButton"><a href="../">返回首页</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-4">
          <div class="text-center">
              <img src="{% static 'about_us/xzy.jpg' %}" alt="Person 1" class="img-fluid rounded-circle mb-3" style="max-width: 170px;">
              <h4>姓名：许志勇</h4>
              <p>学号：</p>
              <p>简介：</p>
          </div>
      </div>

      <div class="col-md-4">
          <div class="text-center">
              <img src="{% static 'about_us/xjw.jpg' %}" alt="Person 2" class="img-fluid rounded-circle mb-3" style="max-width: 130px;">
              <h4>姓名：许嘉瑋</h4>
              <p>学号：21307275</p>
              <p>简介：</p>
          </div>
      </div>

      <div class="col-md-4">
          <div class="text-center">
              <img src="{% static 'about_us/kjx.jpg' %}" alt="Person 3" class="img-fluid rounded-circle mb-3" style="max-width: 130px;">
              <h4>姓名：邝佳轩</h4>
              <p>学号：</p>
              <p>简介：</p>
          </div>
      </div>
    </div>

    <footer>
      <div class="container">
          <h4>中山大学 2023 秋季 数据库期末大作业</h4>
      </div>
    </footer>
    
  </body>
</html>
