{% load static %}

<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{{ detail.dish_name }} 详细信息</title>
        <!-- 引入Bootstrap -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </head>

    <body>
        <div class="container mt-5">
            <div class="col-md-4 column">
                
            </div>
            <h1>{{ detail.dish_name }} </h1>
            <p>{{ detail.dish_price }}</p>
        </div>
    </body>
</html>
