{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>中大食评-账号注册</title>
  <!-- 引入Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- 自定义样式 -->
  <style>
    body {
      background-color: #f0f8ff; /* 淡蓝色背景 */
    }
    .login-container {
      margin-top: auto;
    }
  </style>
</head>
<body>

<div class="container registration-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-center mb-4">中大食评-账号注册</h3>
              <form onsubmit="return validateForm()">
                <div class="form-group">
                  <label for="username">用户名</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="输入用户名" required>
                </div>
                <div class="form-group">
                  <label for="password">密码</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="输入密码" required>
                </div>
                <div class="form-group">
                  <label for="confirm-password">确认密码</label>
                  <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="确认密码" required>
                  <small id="passwordMatchError" class="text-danger" style="display: none;">密码不匹配，请重新输入。</small>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">注册</button>
                </div>
              </form>
              <a href="login">已有账号？返回登录</a>
            </div>
            <div class="col-md-6">
              <img src="{% static 'images/0/cafe5.png' %}" class="img-fluid" alt="右侧图片">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function validateForm() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirm-password").value;
    var passwordMatchError = document.getElementById("passwordMatchError");

    if (password !== confirmPassword) {
      passwordMatchError.style.display = "block";
      return false; // 不予注册
    } else {
      passwordMatchError.style.display = "none";
      return true; // 可以注册
    }
  }
</script>

</body>
</html>
