{% load static %}

<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>中大食评-搜索</title>
        <!-- 引入Bootstrap -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <h1>中大食评-搜索</h1>
                    <form method="GET" action="search" style="display: flex;">
                        <input type="text" class="form-control" id="query" name="q" placeholder="输入搜索关键词" style="margin-right: 5px;">
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </form>

                    <a href="../">返回首页</a>
                    </br></br></br>

                    <form method="GET" action="search">
                        <table>
                            <tr>
                                <td>
                                    <label>校园：</label><br>
                                    {% for campus in context.campuses %}
                                        <label for="{{ campus.campus_id }}">
                                            <input type="checkbox" id="{{ campus.campus_id }}" name="campus" value="{{ campus.campus_id }}" checked>
                                            {{ campus.campus_name }}
                                        </label><br>
                                    {% empty %}
                                        <p>暂无校园信息可供选择。</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    <label>餐厅：</label><br>
                                    {% for cafeteria in context.cafeterias %}
                                        <label for="{{ cafeteria.cafeteria_id }}">
                                            <input type="checkbox" id="{{ cafeteria.cafeteria_id }}" name="cafeteria" value="{{ cafeteria.cafeteria_id }}" checked>
                                            {{ cafeteria.cafeteria_name }}
                                        </label><br>
                                    {% empty %}
                                        <p>暂无饭堂信息可供选择。</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    <label>供应时间：</label><br>
                                    {% for time in context.served_times %}
                                        <label for="{{ time.served_time_id }}">
                                            <input type="checkbox" id="{{ time.served_time_id }}" name="time" value="{{ time.served_time_id }}" checked>
                                            {{ time.served_time_period }}
                                        </label><br>
                                    {% empty %}
                                        <p>暂无时间信息可供选择。</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-primary">筛选 & 组合</button>
                    </form>
                    
                </div>

                <div class="col-md-1 column"></div>

                <div class="col-md-7 column">
                    <h1>美食区</h1>
                    <div class="search_result">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>菜品名称</th>
                                    <th>菜品价格</th>
                                    <th>详情</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in search_result %}
                                    <tr>
                                        <td><strong>{{ result.dish_name }}</strong></td>
                                        <td>{{ result.dish_price }}</td>
                                        <td><a href="{% url 'detail' dish_id=result.dish_id %}">查看详情</a></td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">暂无搜索结果</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
