{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>中大食评-主页</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <style>
    /* 修改导航栏颜色 */
    .navbar {
      background-color: #8cc6dd; /* 修改为您想要的颜色值 */
    }

    footer {
      background-color: #8cc6dd;
      padding: 20px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  </style>
</head>

<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">中大食评-账户信息</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li id="infoButton"><a href="..">返回主页</a></li>
        </ul>
    </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <table class="table">
                <tbody>
                    <tr>
                        <td><img src="{% static 'about_us/user.png' %}" alt="默认用户头像" class="img-fluid rounded-circle mb-3" style="max-width: 130px;"></td>
                    </tr>
                    <tr>
                        <th>用户名</th>
                        <td>{{ user_info.username }}</td>
                    </tr>
                    {% comment %} <tr>
                        <th>用户ID</th>
                        <td>{{  }}</td>
                    </tr> {% endcomment %}
                </tbody>
            </table>

            <table class="table">
                <tbody>
                    {% for comment in user_info.comments %}
                        <tr>
                          <td>{{ comment.username_id }}</td>
                          <td>{{ comment.score }}</td>
                          <td>{{ comment.content }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">暂无评论</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">退出登录</button>
              </form>
        </div>
    </div>
</body>
</html>